// main: style.scss

form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(55, 63, 85);
  padding: 1em;
  color: white;
  font-family: 'Josefin Sans', sans-serif;

  input, option{
    margin: 0.5em;
    padding: 0.3em;
  }
  label{
    padding-right: 3vw;
  }
}

.display-none{
  display: none;
}

fieldset{
  border: none;
}
