// main: style.scss

form{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(80, 81, 84);
  padding: 1em;
  color: white;
}

.display-none{
  display: none;
}
